src/main/resources/XSDs/CheckPrinting.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema  elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="Decimal18.2">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="20"/>
      <xs:fractionDigits value="2" />
	  <xs:pattern value="[0-9]{1,18}[.][0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  
	<xs:element name="TRIMSInterface">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="TRIMSTransaction">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClientTransactionReferenceNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="64"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TransactionType" >
							 <xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="CHECK"/>
								</xs:restriction>
							</xs:simpleType>
							</xs:element>
							<xs:element name="ValueDate">
							<xs:simpleType>
								<xs:restriction base="xs:date">
									<xs:pattern value="((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3}))-((0[1-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01]))" /> 
									<xs:maxInclusive value="9999-12-31" /> 
									<xs:minInclusive value="0001-01-01" /> 
								</xs:restriction>
							</xs:simpleType>
							</xs:element>
							<xs:element name="Amount">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="Decimal18.2" >
											<xs:attribute name="Ccy" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="DebitAccount">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AccountNumber">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="34"/>
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
										<xs:element name="RoutingNumber">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="9"/>
												<xs:maxLength value="11"/>
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CreditAccount">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PayeeName">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="70"/>
												<xs:pattern value="[&#x20;-&#x7E;]+"/>
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
									</xs:sequence>
									
								</xs:complexType>
							</xs:element>
							<xs:element name="AdditionalPayeeInformation">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AddressLine1">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="55"/>
												<xs:pattern value="[&#x20;-&#x7E;]+"/>
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
										<xs:element name="Town" >
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="30"/>
												<xs:pattern value="[&#x20;-&#x7E;]+"/>
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
										<xs:element name="State">
										<xs:simpleType>
											<xs:restriction base="xs:string">
										    <xs:maxLength value="2"/>
												<xs:enumeration value="AL" /><xs:enumeration value="AK" /><xs:enumeration value="AS" /><xs:enumeration value="AZ" /><xs:enumeration value="AR" />
												<xs:enumeration value="CA" /><xs:enumeration value="CO" /><xs:enumeration value="CT" /><xs:enumeration value="DE" /><xs:enumeration value="DC" /><xs:enumeration value="FL" /><xs:enumeration value="GA" /><xs:enumeration value="GU" /><xs:enumeration value="HI" /><xs:enumeration value="ID" /><xs:enumeration value="IL" /><xs:enumeration value="IN" /><xs:enumeration value="IA" /><xs:enumeration value="KS" /><xs:enumeration value="KY" /><xs:enumeration value="LA" /><xs:enumeration value="ME" /><xs:enumeration value="MD" /><xs:enumeration value="MH" /><xs:enumeration value="MA" /><xs:enumeration value="MI" /><xs:enumeration value="FM" /><xs:enumeration value="MN" /><xs:enumeration value="MS" /><xs:enumeration value="MO" /><xs:enumeration value="MT" /><xs:enumeration value="NE" /><xs:enumeration value="NV" /><xs:enumeration value="NH" /><xs:enumeration value="NJ" /><xs:enumeration value="NM" /><xs:enumeration value="NY" /><xs:enumeration value="NC" /><xs:enumeration value="ND" /><xs:enumeration value="MP" /><xs:enumeration value="OH" /><xs:enumeration value="OK" /><xs:enumeration value="OR" /><xs:enumeration value="PW" /><xs:enumeration value="PA" /><xs:enumeration value="PR" /><xs:enumeration value="RI" /><xs:enumeration value="SC" /><xs:enumeration value="SD" /><xs:enumeration value="TN" /><xs:enumeration value="TX" /><xs:enumeration value="UT" /><xs:enumeration value="VT" /><xs:enumeration value="VA" /><xs:enumeration value="VI" /><xs:enumeration value="WA" /><xs:enumeration value="WV" /><xs:enumeration value="WI" /><xs:enumeration value="WY" />
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
										<xs:element name="Zip">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="9"/>
												<xs:pattern value="[&#x20;-&#x7E;]+"/>
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ChequeInformation">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ChequeNumber" >
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
												<xs:pattern value="[&#x20;-&#x7E;]+"/>
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
										<xs:element name="DlvryMtd">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="10"/>
												<xs:pattern value="[&#x20;-&#x7E;]+"/>
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
										<xs:element name="FrmsCd">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="18"/>
												<xs:pattern value="[&#x20;-&#x7E;]+"/>
											</xs:restriction>
										</xs:simpleType>
										</xs:element>
										<xs:element minOccurs="0" name="RmtInf">
											<xs:complexType>
												<xs:sequence>
													<xs:element maxOccurs="unbounded" name="Strd">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RltdDt">
																<xs:simpleType>
																	<xs:restriction base="xs:date">
																		<xs:pattern value="((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3}))-((0[1-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01]))" /> 
																		<xs:maxInclusive value="9999-12-31" /> 
																		<xs:minInclusive value="0001-01-01" /> 
																	</xs:restriction>
																</xs:simpleType>
																</xs:element>
																<xs:element name="Nb">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="35"/>
																		<xs:pattern value="[&#x20;-&#x7E;]+"/>
																	</xs:restriction>
																</xs:simpleType>
																</xs:element>
																<xs:element name="AddtlRmtInf">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="30"/>
																		<xs:pattern value="[&#x20;-&#x7E;]+"/>
																	</xs:restriction>
																</xs:simpleType>
																</xs:element>
																<xs:element name="RmtdAmt" >
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:totalDigits value="16" />
																		<xs:fractionDigits value="2" />
																		<xs:pattern value="[0-9]{1,14}[.][0-9]{2}"/>
																	</xs:restriction>
																</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ClientID" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>